@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  min-height: 100vh;
  align-content: center;
  margin: auto;
}

.card{
  border-radius: 20px;
  box-shadow: 2px 2px 8px #00000029;
  max-width: 450px;
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  margin: auto;
}

.card h1{
  font-size: 2rem;
}

